<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Servicio de Migración</title>
    </h:head>
    <h:body>
        <h1>Servicio de Migración Web de Atrums para Wendys</h1>
        <p:growl id="mensajes" showDetail="true" life="2000" />
        <h:form>
        	<p:panel id="pnllogin" header="Inicio de Sessión" footer="Copyright ©ATRUMS-IT">
        		<h:panelGrid columns="2" cellpadding="5">
        		<h:outputLabel for="username" value="Usuario:" />
        		<p:inputText value="#{loginBean.nombre}" id="username"	required="true" label="username" />
        		<h:outputLabel for="password" value="Password" />
        		<p:password value="#{loginBean.clave}" id="password" required="true" label="password" />
		     	</h:panelGrid>
		     	<p:separator />
		        <p:commandButton id="loginButton" value="Iniciar Sesión" 
		        	actionListener="#{loginBean.login}" update=":mensajes"
		        	oncomplete="manejarLogin(xhr, status, args)" 
		        	icon="ui-icon-check" />
		     </p:panel>
		     
		     <p:blockUI block="pnllogin" trigger="loginButton" />
		</h:form>
    </h:body>
    <script type="text/javascript">
  	//<![CDATA[
  	           function manejarLogin(xhr, status, args) {
  	        	   if (!args.validationFailed && args.estaLogeado) {
  	        		   setTimeout(function() {
  	        			   window.location = args.view;
  	        			}, 500);
  	        		}
  	       		}
	//]]>
	</script>
</html>

